**pycache**/
*.pyc
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
.venv/
venv/
env/
.env
.ipynb_checkpoints/
data/raw/*
data/processed/*
data/features/*
data/predictions/*
!data/.gitkeep
models/*
!models/.gitkeep
logs/
*.log
airflow/logs/
airflow/airflow.db
*.tar
*.gz
.vscode/
.idea/
.DS_Store
Thumbs.db
